# vscode directory
.vscode/

# Debian package
cmd/deb/bterminal/usr/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# log for executing command
log/

# unnessery html file, automatically generate when program start
html/jobs.html
html/logs.html