[Unit]
Description=bterminal server daemon
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10s
ExecStart=$GOPATH(replace your path)/bin/bterminal -c $GOPATH(replace your path)/src/github.com/wutaosamuel/bterminal/config.json

[Install]
WantedBy=multi-user.target